
.container{
 width: 100%;
 margin: auto;
 min-width: 750px;
}

#navigation{
 height: 100%;
 width: 21%;
 background-color: black;
 background: -webkit-linear-gradient(black 85%, #0452c8);
 min-width:200px;
 min-height: 750px;
 float: left;
}

#Logo{
 height: 110px;
 width: 19%;
 min-width: 150px;
 position: absolute;
 top: 10px;
}

ul{
 position: relative;
 padding: 5px;
 margin: 5px;
 top: 150px;
 list-style-type: none;
}

li{
}

li a{
 display: block;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
 color: white;
 text-decoration: none;
 padding: 14px 16px;
 border-color: #B0C4DE;
 border-style: ridge;
 border-radius: 12px;
}

li a:hover{
 color: white;
 background-color: #1347A5;
 text-shadow: -2px -2px 2px #000000;
}

#welcome{
 width: 78%;
 height: 100%;
 min-height: 350px;
 float: right;
 background-color: #0448af;
}


#clear{
 clear: both;
}

#CoreMain{
 position: absolute;
 top: 100px;
 left: 420px;
 height: 30%;
 width: 65%;
 background-color: #B0C4DE;
}









